@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

.jumbotron {
    background-color: white;
    color: black;
    padding: 100px;
}

.page-header {
    text-align: center;
}

.container {
    display: flex;
    position: absolute;
    float: left;
    width: 650px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 50%;
    right: inherit;
    border: 3px solid purple;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
} 

.hidden {
    display: none;
}

P {
    font-size: 20px;
    text-align: center;
    padding: 5%;
    float: left;
}

.btn {
    text-align: center;
    background-color: purple;
    color: white;
    margin-left: 35%;
    margin-top: 10px;
    padding: 10px 20px;
}

.btn:hover {
    background-color: blueviolet;
}

.btn:active {
    background-color: violet;
}

.btn:disabled {
    cursor: not-allowed;
    transform: none;
}

#scores-btn {
    text-align: center;
    background-color: purple;
    color: white;
    margin-left: 35%;
    margin-top: 30px;
    padding: 10px 15px;
}

#scores-btn:hover {
    background-color: blueviolet;
}

#scores-btn:active {
    background-color: violet;
}

#scores-btn:disabled {
    cursor: not-allowed;
    transform: none;
}

h1 {
    font-size: 4.4rem;
    color: black;
    margin-bottom: 5rem;
}